
.header {
    background-color: var(--background-1);
    display: flex;
    align-items: center;
}

select {
    min-width: 150px;
}

.header-item {
    margin: 0 20px;
    display: flex;
    align-items: center;
}

.header-item label{
    margin-right: 10px;
}

.option-hint {
    margin-left: 5px;
    font-style: italic;
}

.loading-indicator {
    margin-left: 10px;
}

.spinner {
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 3px solid rgba(0,0,0,.1);
    border-radius: 50%;
    border-top-color: var(--main-color);
    animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.grid-content {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    align-items: stretch;

    overflow: hidden;
}

.table-pane {
    margin: 0 20px;
    overflow-y: auto;
}

.main-table, .log-table {
    width: auto;
    min-width: 500px;
}

.table-pane h2 {
    margin: 10px 0;
}

.status-row {
    display: flex;
    align-items: center;
    font-weight: bold;
}

.status-row-warning {
    color: orange;
}

.status-row-good {
    color: green;
}

.status-row .spinner {
    margin-left: 10px;
}