@page "/demo/{Mode}"

<PageTitle>FlowSync Demo</PageTitle>

<div class="page-root">
    <div class="progress-panel">
        <h1>SyncStrategy: @Header</h1>
        
        <h2>Resource 1</h2>

        <div class="req-progress">
            <RequestProgress ResourceId="r1" RequestIndex="1" SyncStrategy="FlowSyncStrategy" @key="FlowSyncStrategy" />
        </div>
        <div class="req-progress">
            <RequestProgress ResourceId="r1" RequestIndex="3" SyncStrategy="FlowSyncStrategy" @key="FlowSyncStrategy" />
        </div>
        <div class="req-progress">
            <RequestProgress ResourceId="r1" RequestIndex="7" SyncStrategy="FlowSyncStrategy" @key="FlowSyncStrategy" />
        </div>

        <h2>Resource 2</h2>

        <div class="req-progress">
            <RequestProgress ResourceId="r2" RequestIndex="1" SyncStrategy="FlowSyncStrategy" @key="FlowSyncStrategy" />
        </div>
        <div class="req-progress">
            <RequestProgress ResourceId="r2" RequestIndex="3" SyncStrategy="FlowSyncStrategy" @key="FlowSyncStrategy" />
        </div>
        <div class="req-progress">
            <RequestProgress ResourceId="r2" RequestIndex="7" SyncStrategy="FlowSyncStrategy" @key="FlowSyncStrategy" />
        </div>
    </div>
    <div class="description-panel">
        <p>@Description</p>
    </div>
</div>