.req-progress {
    display: block;
    margin: 20px 0;
}

.page-root {
    flex: 1 1 auto;
    margin-left: 20px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.progress-panel {
    flex: 1 1 auto;
    margin-right: 20px;
    min-width: 700px;
}

.description-panel {
    flex: 1 1 400px;
    max-width: 700px;
    margin-right: 20px;
}
