.page {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

main {
    flex: 1 1 auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.sidebar {
    background: var(--background-1);
}