.catalog-grid {
  display: inline-grid;
  grid-template-columns: repeat(2, max-content);
  grid-auto-rows: max-content;
  width: fit-content;
  height: fit-content;
  border: 1px solid gray;
  align-items: start;
  justify-items: start;
}

.catalog-item {
  min-width: fit-content;
}
