<div class="catalog-grid">
    <section class="catalog-item">
        <h3>No Coalescing</h3>
        <ReqRespGroup SyncStrategy="NoCoalescingSyncStrategy"></ReqRespGroup>
    </section>

    <section class="catalog-item">
        <h3>Use First</h3>
        <ReqRespGroup SyncStrategy="UseFirstCoalescingSyncStrategy"></ReqRespGroup>
    </section>

    <section class="catalog-item">
        <h3>Use Last</h3>
        <ReqRespGroup SyncStrategy="UseLastCoalescingSyncStrategy"></ReqRespGroup>
    </section>

    <section class="catalog-item">
        <h3>DeBounce</h3>
        <ReqRespGroup SyncStrategy="DeBounceCoalescingSyncStrategy"></ReqRespGroup>
    </section>

    <section class="catalog-item">
        <h3>Queue</h3>
        <ReqRespGroup SyncStrategy="QueueCoalescingSyncStrategy"></ReqRespGroup>
    </section>
</div>
